
@{
    ViewBag.Title = "MainUser";
}

<h2>MainUser</h2>

<table class="table">
    <tr>
        <th>@Html.ActionLink("Padalinių valdymas", "Index", "Padalinys")</th>
        <th>@Html.ActionLink("Darbuotojų valdymas", "Index", "Darbuotojas")</th>
        <th>@Html.ActionLink("Pakaitinių automobilių valdymas", "Index", "Pakaitinis_automobilis")</th>
        <th>@Html.ActionLink("Užsakymų valdymas", "Index", "Uzsakymas")</th>
        <th>@Html.ActionLink("Sąskaitų valdymas", "Index", "Saskaitas")</th>

    </tr>
