@model IEnumerable<AutotinklasInformacinėSistema.Pakaitinis_automobilis>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Miestas")
        </th>
        <th>
            @Html.DisplayName("Bako talpa")
        </th>
        <th>
            @Html.DisplayName("Modelis")
        </th>
        <th>
            @Html.DisplayName("Markė")
        </th>
        <th>
            @Html.DisplayName("Padalinio adresas")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.metai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.degalu_kiekis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelis.pavadinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelis.Marke.pavadinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Padalinys.adresas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.valstybinis_numeris }) |
            @Html.ActionLink("Details", "Details", new { id=item.valstybinis_numeris }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.valstybinis_numeris })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Grįžti į valdymą", "MainRoot", "Home")